body{
    background-image: url("./image/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;





    color: aliceblue;
}
